<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 管理Service组件 -->
    <bean id="afterThrowsService" class="afterthrows.AfterThrowsServiceImpl"/>

    <!-- 注册通知类 -->
    <bean id="myAfterAdvice" class="afterthrows.MyAfterAdvice"/>

    <!-- 配置切面 -->
    <aop:config>
        <aop:pointcut id="pc" expression="within(afterthrows.*ServiceImpl)"/>
        <aop:advisor advice-ref="myAfterAdvice" pointcut-ref="pc"/>
    </aop:config>

</beans>